extends header

block content
    title Dashboard
    center
        p.lead.mb-3 Welcome #{current_user.first_name}
        .sidebar-nav
            li 
                a(href='/dashboard/jobs') All jobs
            li 
                a(href='/dashboard/tags') All tags
            li
                hr
            li 
                a(href='/dashboard/job/create') Post new job
            li 
                a(href='/dashboard/tag/create') Create new tag
