doctype html
html
  head
    style.
      h1 {color:red;}
      li {list-style-type:none;}

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel='stylesheet', href='/stylesheets/navigation.css')
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='icon', href='/images/logo/incubeta.png')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
nav.container-fluid
  //.navbar.navbar-default
  //.container-fluid
  //  .navbar-header.fluid
  //    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
  //      span.sr-only Toggle navigation
  //      span.icon-bar
  //      span.icon-bar
  //      span.icon-bar
  //    a.text-center.center-block.p-1(href='/')
  //      img(src='/images/icb_logo_f.svg', width= '50%')
  //  #navbar.collapse.navbar-collapse
  //    ul.nav.navbar-nav.navbar-right
  //      if(current_user)
  //        li
  //          a(href='/dashboard') Dashboard
  //        li
  //          a(href='#') Signed In As #{current_user.first_name}
  //        li
  //          a(href=current_user.url) Profile
  //        li
  //          a(href='/home/logout') Logout
  #sideNav.sidenav
    a.closebtn(href='javascript:void(0)' onclick='closeNav()') &times;
    if(current_user)
      li
        a(href='#') Signed In As #{current_user.first_name}
      li
        a(href=current_user.url) Profile
        hr
      li
        a(href='/dashboard') Dashboard
      li
        a(href='/dashboard/jobs') All jobs
      li
        a(href='/dashboard/tags') All tags
        hr
      li
        a(href='/home/logout') Logout
  span(style='font-size:30px;cursor:pointer' onclick='openNav()')
    img(src='/images/logo/user_icon.svg' width= "30px")
  script.
    function openNav() {
      document.getElementById("sideNav").style.width = "250px";
    }
    function closeNav() {
      document.getElementById("sideNav").style.width = "0";
    }
  a.d-block.center-block(href='/')
    img(src='/images/logo/icb_logo_f_w.svg')

body
  block content
