doctype html
html
  head
    style.
      h1 {color:red;}
      li {list-style-type:none;}

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/asset_formatting.css')
    link(rel='stylesheet', href='/stylesheets/navigation.css')
    link(rel='stylesheet', href='/stylesheets/carousel.css')
    link(rel='stylesheet', href='/stylesheets/tag_list.css')

    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' inte='' <= '' body='')
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
    link(rel='icon', href='/images/logo/incubeta.png')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')

    script(src='https://unpkg.com/react@16/umd/react.production.min.js' crossorigin='')
    script(src='https://unpkg.com/react-dom@16/umd/react-dom.production.min.js' crossorigin='')
    script(src='https://unpkg.com/babel-standalone@6/babel.min.js')
    script(src='sideNav.js')

    link(rel='stylesheet', href='/stylesheets/styles.css')


    nav.container-fluid.nav-head.sticky-top

      #sideNav.sidenav.d-inline
        a.navi.closebtn(href='javascript:void(0)' onclick='closeNav()') &times;
        if(current_user)
          li
            .side-nav-head(href='#') Signed In As
            if (current_user.url != user.url)
              a.side-nav-head(href=current_user.url, style= 'font-size: xx-large; padding-bottom: 20px;') #{current_user.first_name}
            else
              a.side-nav-head(href="#", style= 'font-size: xx-large; padding-bottom: 20px;') #{current_user.first_name}
          hr
        li
          if (!jobs && !searchJobs)
            a.navi(href='/dashboard') Dashboard
          else
            a.navi(href='#') Dashboard
        li
          a.navi(href='/dashboard/jobs') All jobs
        li
          a.navi(href='/dashboard/tags') All tags
        li
          hr
        if(current_user)
          li
            a.button.btn.btn-primary(href='/home/logout', style= 'margin-left: 32px; width: 50%;') Logout

      //a.button.btn.btn-default(href='/home/login' , style= 'position: absolute;top: 0; right: 0; background-color = #ffff;') Login
      span(style='font-size:30px;cursor:pointer' onclick='openNav()')
        img.ml-3(src='/images/logo/sidebar_icon.svg' width= "30px")
      script.
        function openNav() {
          document.getElementById("sideNav").style.width = "250px";
        }
        function closeNav() {
          document.getElementById("sideNav").style.width = "0";
        }

      if (!jobs && !searchJobs)
        a.d-inline-block.logo(href='/dashboard')
          img(src='/images/logo/icb_logo_f_w.svg')
      else
        a.d-inline-block.logo(href='#')
          img(src='/images/logo/icb_logo_f_w.svg')
      //if (current_user)
      //  a.d-inline-block.logo(href='/dashboard')
      //    img(src='/images/logo/icb_logo_f_w.svg')
      //else
      //  a.d-inline-block.logo(href='/das')
      //    img(src='/images/logo/icb_logo_f_w.svg')

      //#side-menu
      .container.nav-search
        form(method='GET' action='/dashboard')
          div.form-inline
            input.form-control.nav-input(type='text', name='search')
            button.btn.btn-primary.nav-button(type='submit') Search Jobs



body
  block content
    a(name="top")
  .footer
    .fixed-bottom
      h3(style= "font-size: medium !important; font-weight: bold !important;")
        a.d-inline.footer-block.fixed-bottom-text(href = '#top')  return to top
        |  |
        if (!jobs && !searchJobs)
          a.d-inline.footer-block.fixed-bottom-text(href = "/dashboard")   return to dashboard
        else
          a.d-inline.footer-block.fixed-bottom-text(href = "#")   return to dashboard
