doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title InCuBeta
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/styles.css')
  link(rel='icon', href='/images/logo/incubeta.png')
  link(rel='stylesheet', href='/stylesheets/animation.css')
  //script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js', type='text/javascript', async='')
  .d-block.pt-md-4(style= 'margin-top: 8vh; margin-bottom: -7%;')
    h2.text-center Welcome to InCuBeta
#landing-header

  //a.btn.btn-lg.btn-default(href='/home') Get Started



    //.container-project
    //  .Project.mx-auto.my-auto
    //    a.btn.btn-lg.btn-default(href='/home')
    //      img.imgMasked(src='https://45.media.tumblr.com/263e52c5f30e213c099a62a245242289/tumblr_n8bsno0htg1qmzbpoo1_1280.gif' alt='')
    //      .Project-hail
    //      .Project-hail2
    //      p.Project-name Welcome to Incubeta
  //img(src= '/images/logo/icb_spin.gif')

  .container-fluid.index-bg.mx-auto.my-auto
    a.incubeta-intro(href='/dashboard')
      //img(src= '/images/logo/icb_static.gif')


//ul.slideshow
//  li
//  li
//  li
//  li
//  li
