doctype html
head(style="max-height: 100% !important; overflow:hidden !important;")
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title InCuBeta
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/styles.css')
  link(rel='icon', href='/images/logo/incubeta.png')
  link(rel='stylesheet', href='/stylesheets/animation.css')
  //script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js', type='text/javascript', async='')
#landing-header

  //a.btn.btn-lg.btn-default(href='/home') Get Started



    //.container-project
    //  .Project.mx-auto.my-auto
    //    a.btn.btn-lg.btn-default(href='/home')
    //      img.imgMasked(src='https://45.media.tumblr.com/263e52c5f30e213c099a62a245242289/tumblr_n8bsno0htg1qmzbpoo1_1280.gif' alt='')
    //      .Project-hail
    //      .Project-hail2
    //      p.Project-name Welcome to Incubeta
  //img(src= '/images/logo/icb_spin.gif')
  .container-fluid.index-container


    p.d-block.index-text.pt-md-4 Bridging the transition from graduation to the job market.
      br
      br
      |InCuBeta provides students with opportunities to build their life experiences as well as form meaningful connections with one-another and those related or part of industry.

    h1.d-block.index-text-h1 click to start
    .d-block.index-bg
      a.incubeta-intro(href='/dashboard', style="max-height: 100%;")
      //img(src= '/images/logo/icb_static.gif')
    h1.d-block.index-text-h1 your incubation

