extends header

block content
  title Job List
  left-box-align
    h1= title
    ul
      - job_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
      each job in job_list
        li 
          a(href=job.url) #{job.title}
          |  (#{job.user.name})

      else
        li There are no jobs.