extends header

block content

  left-box-align
    h1 #{title}: #{job.title}

    p Do you really want to delete this job?

    form(method='POST' action='')
      div.form-group
        input#id.form-control(type='hidden',name='id', required='true', value=job._id )
    
      button.btn.btn-primary(type='submit') Delete
