doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='https://png2.cleanpng.com/sh/94479793c91d732c6bed68c73096042f/L0KzQYm3V8IxN5drkZH0aYP2gLBuTfxwb5CyeuRqbnSwdrF1lL1jbaVmReVEbXLyfH68gsUzOGQ2UNZsNHa4QnA7UcE6P2U6SKMAM0K0QIK7UMA6OGM5RuJ3Zx==/kisspng-logo-brand-font-beta-symbol-5b520318dc4f52.4119745015321014009024.png')
  body
    block content
