block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='username') Username:
      input#username.form-control(type='text', placeholder='Username (haoqic)' name='username' required='true' value=(undefined===user ? '' : user.username) )
      label(for='password') Password:
      input#password.form-control(type='text', placeholder='Password (1234)' name='password' required='true' value=(undefined===user ? '' : user.password))
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg
