extends header

block content
  title Update Tag
  left-box-align
    h1 Update Tag
    form(method='POST' action='')
        div.form-group
        label(for='name') Tag:
        input#title.form-control(type='text', value = ''+tag.name, placeholder='#casual, #IT service, #consultant etc.' name='name' required='true' )
        div.form-group
        button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg
