/*------------------index page button formatting--------------------------*/

/*.btn.btn-incubeta{*/
/*    width: 25vw;*/
/*    display: inline-block;*/
/*    height: 25vw;*/
/*    background: url(public/images/logo/icb_static.gif);*/
/*    border: thick #373a47;*/
/*    !*background-color: #4B8699;*!*/
/*}*/

a.incubeta-intro{
    width: 25vw;
    height: 25vw;
    content: url(../images/logo/icb_static.gif);
    object-fit: scale-down;
}

a.incubeta-intro:hover{
    content: url(../images/logo/icb_spin_36.gif);

}

a.incubeta-intro:active{
    content: url(../images/logo/icb_open_long_29.gif);
    transition-duration: 5s;
}

.index-bg{
    background-color: #373a47;
    height: 27vw;
    horiz-align: center;
    margin-top: -10%;
    padding-top: -3%;
    padding-top: -3%;
}
/*a.incubeta-intro:active{*/
/*    content: url(../images/logo/icb_open.gif);*/
/*    transition:3s;*/

/*}*/