.eggmask{
    width: 300px;
    height: 300px;
    object-fit: cover;
    clip-path: ellipse(42% 50% at 50% 50%);
    /*---------------- we will try egg next time ---------------*/
    /*mask-type: luminance;*/
    /*mask-image: url(/images/logo/icb_user_mask.png);*/
    /*mask-repeat: no-repeat;*/
    /*mask-size: 100%;*/
    /*mask-position: center;*/
}