/*textOverImage scc stylesheets*/


.textOverImage{
    position:relative;
    width:300px;
    height:300px;
    float:left;
    margin:4px;
    background-size:100%;
    background-position:center;
    transition:0.5s;
    font-family: "Source Sans Pro", sans-serif;
    text-align: left;
    padding-left: 5vw;
    padding-top: 5vw;
}

.textOverImage:hover{
    background-size:110%;
}

.textOverImage:after{
    position:absolute;
    top:100%;
    bottom:0;
    left:0;
    right:0;
    white-space:pre-wrap;
    overflow:hidden;
    background-color: rgba(236, 176, 134, 0.7);
    color:#fff;
    padding:0 8px;
    opacity:0;
    content:attr(data-text);
    transition:0.5s;
}

.textOverImage:hover:after{
    opacity:1;
    top:0;
    padding:8px;
}

/*.textOverImage:first-line{*/
/*    color:#fff;*/
/*    font-weight:bold;*/
/*    font-size:1.5em;*/
/*}*/
.carousel-in-image{
    width: 27vw;
    hiehgt: 20vw;
    object-fit: cover;
}

.carousel-format{
    background-clip: padding-box;
    margin-left: -6em;
    margin-right: -6em;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 8vw;
    padding-right: 8vw;
    background-color: #D5F2EA;
}

.carousel-inner{
    background-clip: padding-box;
}

@media (max-width: 992px) {
    .carousel-format{
        padding-left: 6.5vw;
        padding-right: 6vw;
    }
}

