/*textOverImage scc stylesheets*/
.container.carousel-container{
    width: 100%;
    position: relative;
    margin-left: -16em;
    margin-right: -12em;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    background-clip: padding-box;
    padding-top:1vh;
    padding-bottom:1vh;
    padding-left: -16em;
    padding-right: -12em;
    background: #A1C2CC;
    justify-content: space-between;
}

@media (min-width: 576px) {
    .container.carousel-container{
        margin-left: -20em;
        margin-right: -20em;
        padding-left: -20em;
        padding-right: -20em;
    }
}

@media (min-width: 992px) {
    .container.carousel-container{
        margin-left: -30em;
        margin-right: -30em;
        padding-left: -30em;
        padding-right: -30em;
    }
}

@media (min-width: 1200px) {
    .container.carousel-container{
        margin-left: -24em;
        margin-right: -24em;
        padding-left: -24em;
        padding-right: -24em;
    }
}

/*----------------------dynamic carousel----------------------------*/

.textOverImage{
    position:relative;
    width:300px;
    height:300px;
    float:left;
    margin:4px;
    object-fit:cover;
    background-position:center;
    transition:0.5s;
    font-family: "Source Sans Pro", sans-serif;
    font-size: small;
    text-align: left;
    padding-left: 5vw;
    padding-top: 5vw;
    display: inline-block;
}

.textOverImage:hover{
    background-size:110%;
}

.textOverImage:after{
    position:absolute;
    top:100%;
    bottom:0;
    left:0;
    right:0;
    white-space:pre-wrap;
    overflow:hidden;
    background-color: rgba(236, 176, 134, 0.7);
    color:#fff;
    padding:0 8px;
    opacity:0;
    content:attr(data-text);
    transition:0.5s;
    display:inline-block;
}

.textOverImage:hover:after{
    opacity:1;
    top:0;
    padding:8px;
}


.carousel-in-image{
    max-width: 30%;
    height: 20vw;
    vertical-align: bottom;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 992px) {
    .carousel-in-image{
        width: 45%;
        height: 20vw;
    }
}

/*.carousel-format {*/
/*    background-clip: padding-box;*/
/*    !*font-size: 1.5em;*!*/
/*    margin-left: -6em;*/
/*    margin-right: -6em;*/
/*}*/

/*@media (max-width: 992px) {*/
/*    .carousel-format{*/
/*        padding-left: 6.5vw;*/
/*        padding-right: 6vw;*/
/*    }*/
/*}*/

.carousel-item{
    margin-left: -10em;
    margin-right: -10em;
    display: flex;
    justify-content: space-between;

}

/*.carousel-inner{*/
/*    background-clip: padding-box;*/
/*}*/

.carousel-caption{
    font-size: large;
    color: #ffffff;
    vertical-align: bottom;
    bottom: 0px;
    justify-content: space-between;
    vertical-align: bottom;
}

