.container-fluid.nav-head {
    padding-top: 0.5%;
    /*margin-left: 1%;*/
    background-color: #40735B;
    box-shadow: 0px -7px 18px 10px #373a47;
    overflow: auto;
}


.gradient-buttons .btn {
    background-image: linear-gradient(to bottom, #A1C2CC, #4B8699, #CFB2B9, #FDD1CE);
    background-repeat: repeat-x;
}


/* ----------dynamic log image------------- */
.d-inline-block.logo {
    width: 150px;
    height: auto;
    margin: 10px;
    position: relative;
    /* need to properly centre this */
    left: 44%;
    transform: translateX(-53.42%);
}

@media (min-width: 768px) {
    .d-inline-block.logo{
        width: 150px;
        left: 46.58%;
    }
}

@media (min-width: 1500px) {
    .d-inline-block.logo{
        width: 7%;
    }
}


/*--------------side navigation------------------*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #A1C2CC;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
    float: none;

}

.side-nav-head{
    padding: 8px 8px 0px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff !important;
    display: block;
    transition: 0.3s;
    float: none;
}

a.side-nav-head:hover{
    color: #4B8699 !important;
}

.sidenav a.navi {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #373a47 !important;
    display: block;
    transition: 0.3s;
    float: none;
}

.sidenav a.navi:hover {
    color: #40735B !important;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a.navi {font-size: 18px;}
}

/*----------- search bar in navigation --------*/

.container.nav-search{
    height: auto;
    display: inline;
    position: relative;
    /*background-color: #FDD1CE;*/
    horiz-align: right;
    width: auto;
    float: right;
    margin-left: unset;
    margin-right: unset;

}

.form-control.nav-input{
    border-radius:0;
    height:2em;
}

.btn-primary.nav-button{
    border-radius:0;
    height:2em;
    background-color: #4B8699 !important;
}

.btn-primary.nav-button:hover{
    background-color: #A1C2CC !important;
}

@media (max-width: 992px) {
    .container.nav-search{
        width: 100%;
        horiz-align: center;
        text-align: center;
        display: block;
        /*float: right;*/
        float: unset;
        margin-left: auto;
        margin-right: auto;

    }
    .form-control.nav-input{
        height: 2.5em;
        width: 100% !important;
    }
    .btn-primary.nav-button{
        width: 100% !important;
        margin-top: -1em !important;
        margin-bottom: 1em !important;
    }
}

@media (max-width: 768px) {
    .container.nav-search{
    }
    .form-control.nav-input{
        height: 2.8em;
    }
}

@media (max-width: 576px) {
    .container.nav-search{
        width: 100%;
        padding-left: 14%;
    }
    .form-control.nav-input{
        height: 3em;
    }
}




/*------------------footer element------------------------*/

/* fix the footer at the bottom of the page*/
.footer{
    position: relative;
}

a.fixed-bottom-text {
    color: #ffffff!important;
    font-size: small !important;
    font-weight: lighter;
}

a.fixed-bottom-text:hover{
    color: #ECB086 !important;
    text-decoration: none !important;
}

.fixed-bottom{
    height:6vh;
    background-color: #40735B;
    position:absolute;
    text-align: center;
    width:100%;
    bottom:0px;
    left:0px;
    padding-top: 1.7vh;
    padding-bottom: 1vh;

}

.d-inline.footer-block{
    width: 200px;
    height: 10px;
    vertical-align: middle;
    justify-content: center;
}

a.btn.log-in{
    font-family: Biryani, sans-serif !important;
    font-weight: bold !important;
    font-size: 1.5vmax !important;
    color: #ffffff !important;
    width: 80% !important;
    padding: 3px 25px;
    background-color: #4B8699;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

@media (max-width: 576px) {
    a.btn.log-in{
        width: 80vmin !important;
    }

}

a.btn.log-in:focus,
a.btn.log-in:hover{
    background-color: #A1C2CC;
}
