/*.navbar-default{*/
/*    background-color: #E3FFF6;*/
/*}*/

/*.navbar-toggle{*/
/*    background-color: #E3FFF6;*/
/*}*/

/*.navbar-brand {*/
/*    position: relative;*/
/*    text-align:center;*/
/*    margin-left:auto;*/
/*    margin-right:auto;*/
/*    float:none;*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*}*/

/*.navbar-header{*/
/*    background-color: #4B8699;*/
/*    position: relative;*/
/*    text-align:center;*/
/*}*/

.container-fluid.nav-head {
    padding-top: 0.5%;
    /*margin-left: 1%;*/
    background-color: #40735B;
    box-shadow: 0px -7px 18px 10px #373a47;
}


.gradient-buttons .btn {
    background-image: linear-gradient(to bottom, #A1C2CC, #4B8699, #CFB2B9, #FDD1CE);
    background-repeat: repeat-x;
}


/* ----------dynamic log image------------- */
.d-inline-block.logo {
    width: 150px;
    height: auto;
    margin: 10px;
    display: inline-block;
    position: relative;
    /* need to properly centre this */
    left: 46.58%;
    transform: translateX(-53.42%);
}

@media (min-width: 768px) {
    .d-inline-block.logo{
        width: 150px;
    }
}

@media (min-width: 1500px) {
    .d-inline-block.logo{
        width: 7%;
    }
}


/*--------------side navigation------------------*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #A1C2CC;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
    float: none;
}

.sidenav a.navi {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #373a47 !important;
    display: block;
    transition: 0.3s;
    float: none;
}

.sidenav a.navi:hover {
    color: #40735B !important;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a.navi {font-size: 18px;}
}


/*------------------footer element------------------------*/

/* fix the footer at the bottom of the page*/
.footer{
    position: relative;
}

a.fixed-bottom-text {
    color: #ffffff!important;
    font-size: small !important;
    font-weight: lighter;
}

a.fixed-bottom-text:hover,
a.fixed-bottom-text:focus {
    color: #ECB086 !important;
    text-decoration: none !important;
}

.fixed-bottom{
    height:6vh;
    background-color: #40735B;
    position:absolute;
    text-align: center;
    width:100%;
    bottom:0px;
    left:0px;
    padding-top: 1.7vh;
    padding-bottom: 1vh;

}

.d-inline.footer-block{
    width: 200px;
    height: 10px;
    vertical-align: middle;
    justify-content: center;
}