@import url(https://fonts.google.com/specimen/Source+Sans+Pro?category=Serif,Sans+Serif,Monospace&sort=popularity);
@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@600&display=swap');
@import url(//db.onlinewebfonts.com/c/066ce24dae3730ed6c648b09efaea93a?family=Acumin+Variable+Concept);
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

/* ------------------------- Color Theme Swatches in Hex --------------------------------*/
.green1 { color: #D5F2EA; }
.green2 { color: #B4D9CE; }
.green3 { color: #76A694; }
.green4 { color: #40735B; }
.orange { color: #ECB086; }
.blue1 { color: #E3FFF6; }
.blue2 { color: #A1C2CC; }
.blue3 { color: #4B8699; }
.pink1 { color: #FDD1CE; }
.pink2 { color: #CFB2B9; }

/* --------------------------font styling--------------------------------------------*/
/* overwriting bootstrap presets, and is also dynamic */
h1 {
  font-size: 2vmax !important;
  font-family: 'Acumin V',sans-serif !important;
  font-weight: bolder !important;
  color: #40735B !important;
}

@media (max-width: 992px) {
  h1{
    font-size: 3vmax !important;
  }
}

h2 {
  font-size: 4vmax !important;
  font-family: 'Patua One' !important;
  /*font-weight: bolder !important;*/
  color: #40735B !important;
  text-shadow: 5px 0px 0px #A1C2CC;
}

/*@media (max-width: 992px) {*/
/*  h2{*/
/*    font-size: 3vmax !important;*/
/*  }*/
/*}*/

h4 {
  font-size: 1.5vmax !important;
  font-family: 'Acumin V',sans-serif !important;
  font-weight: 700  !important;
  color: #40735B !important;
}

@media (max-width: 992px) {
  h4{
    font-size: 2.25vmax !important;
  }
}

h3 {
  font-size: 2vmax !important;
  font-family: 'Biryani',sans-serif !important;
  /*font-weight: 500  !important;*/
  color: #ffffff !important;
}

@media (max-width: 992px) {
  h3{
    font-size: 3vmax !important;
  }
}

h5 {
  font-size: 0.5vmax !important;
  font-family: 'Biryani',sans-serif !important;
  /*font-weight: 500  !important;*/
  color: #373a47 !important;
}

@media (max-width: 992px) {
  h5{
    font-size: 0.75vmax !important;
  }
}

body {
  background-color: #B4D9CE !important;
  height: 100% !important;
}

* {
  font-family: 'Basic', sans-serif;
  color: #373a47;
  font-size: 1.2vmax;
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

@media (max-width: 992px) {
  *{
    font-size: 1.8vmax !important;
  }
}

/*----------------------------------------------------------------------------*/
html {
  height: 100%;
}

center {
  margin: auto;
  width: 400px;
  padding: 10px;
}

/*button:hover{*/
/*  color: #ECB086 !important;*/
/*}*/
/*--------------------------------general formatting-------------------------------------------*/
left-box-align{
  position: absolute;
  padding: 2em;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #ffffff;
  min-height: 115%;
}
@media (min-width: 576px) {
  left-box-align{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (min-width: 768px) {
  left-box-align{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media (min-width: 992px) {
  left-box-align{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (min-width: 1200px) {
  left-box-align{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}

/*------------------------------------------------------------------*/
left-align{
  position: absolute;
  padding-top: 2em;
  padding-left: 8em;
  padding-right: 6em;
  width: 100%;
  /*width: 90%;*/
  /*margin-left: 5%;*/
  /*margin-right: 5%;*/
  background-color: #ffffff;
  min-height: 115%;
}

@media (min-width: 576px) {
  left-align{
    padding-left: 10em;
    padding-right: 10em;
  }
}

@media (min-width: 992px) {
  left-align{
    padding-left: 15em;
    padding-right: 15em;
  }
}

@media (min-width: 1200px) {
  left-align{
    padding-left: 12em;
    padding-right: 12em;
  }
}

/*------------------------------------------------------------------*/

.form-inline {
  align-items: center;
}


input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
}

.sidebar-nav {
  margin-left: 20px;
  padding: 0;
  list-style: none;
}

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url(/images/workplace1.jpg)
}
.slideshow li:nth-child(2) {
  background-image: url(/images/workplace2.jpg);
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url(/images/workplace3.jpg);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(/images/workplace4.jpg);
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url(/images/workplace5.jpg);
  animation-delay: 40s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
  opacity: 1;
}


/*customerize scrollbar*/
/* width */
@media (min-width: 992px){
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #40735B;
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ECB086;
    border-radius: 5px;
  }
}

